[Unit]
Description=Etcd Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=5
Type=forking
PIDFile=/var/run/%n.pid
Restart=always
RestartSec=15
Environment=ETCD_IPV4={{master_node_ipaddr}} CONTAINER_NAME=%n
ExecStart=/usr/local/bin/etcd.sh start
ExecStop=/usr/local/bin/etcd.sh stop

[Install]
WantedBy=multi-user.target
